body {
	overflow: hidden;
	
	font-family: 'Open Sans', sans-serif;
	font-size: 0.6875rem;
	color: #000;
	background: #252137;
	background: 
		linear-gradient(135deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 0 0,
		linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 15px 15px,
		linear-gradient(135deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 15px 15px,
		linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 0 0,
		#ddd;
	background-size: 30px 30px;
}

#optContainer {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 5px 2px 0px 0px;
	height: 100vh;
}

.optWindow {
		color: #9da2a5;
}

.optWindow h1 {
	display: inline-block;
	position: relative;
	padding: 5px 7px;
	margin: 1px;
	margin-bottom: -1px;

	background: #14171a;
	border:1px solid #000;
	border-top: 2px solid rgba(255,255,255, 0.3);

	border-bottom: 0px;
	border-radius: 2px 2px 0px 0px;
	font-weight: bold;
	cursor: pointer;

}


.optWindow .optForm {
	display: block;
	margin: 1px;
	margin-top: 0px;
	padding: 5px;
	background: #14171a;
	border-radius: 0px 3px 3px 3px;
	border:1px solid #000;

}


.optForm label, .optForm input {

	height: 18px;
}

.optForm label {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0.5rem 0 0.5rem;
	text-align: right;
	font-size: 10px;
	text-transform: uppercase;
}

.optForm input, .optForm select {
	max-width: 70px;
	border-radius: 3px;
	outline: none;
	border: 1px solid #000;
	background: #181d20;
	color: #9da2a5;

}

.optForm p {
	display: block;
}

.ups {
	width: 40px;
}

.follow {
	float: left;
}

.clearfix {
	clear:both;
}