body {
  font-family: 'Montserrat regular';
  letter-spacing: 0.75;
  color: #000;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  background: url("./images/background.png");
  text-align: left;
  margin: auto; }

/*.circ {
	position: relative;
	z-index: 1;
}

.circ:before {
	content: '';
	display:block;
	position: absolute;
	top: -2px;
	left: -2px;
	width: 22px;
	height: 22px;
	border-radius: 11px;
	background: #ff0000;
	z-index: -1;
}

.navbar-brand .fa {
	color: white;
}*/
/* NAVBAR */
.navbar {
  background-color: #000;
  border-radius: 0px; }

.navbar a {
  color: #000;
  text-transform: uppercase; }

.navbar li a:hover, .navbar a:hover {
  color: white;
  background-color: #33ddcc; }

/* BRAND */
.brand {
  margin-top: 20px;
  margin-bottom: 10px; }

.brand > * {
  text-transform: uppercase;
  line-height: 1;
  padding: 0px;
  margin: 0px; }

.brand h1 {
  font-family: "Montserrat black"; }

.brand h1 span {
  color: #33ddcc; }

.brand h3 {
  font-family: "Montserrat light";
  font-size: 19px;
  color: #777; }

/* LICZNIK ODWIEDZIN */
.counter {
  margin-top: 35px; }

.counter h3 {
  font-size: 16px;
  font-family: "Montserrat light";
  text-transform: uppercase; }

.counter > * {
  display: inline; }

.circ {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 3px 0;
  border-radius: 50%;
  background: #fe2211;
  font-family: "Montserrat bold";
  color: white; }
