* {
	padding: 0px;
	margin: 0px;
}
/* Do fcji assert */
#results {
	background: lightgreen;
	border: 1px solid olive;
	position: absolute;
	bottom: 30px;
	right: 100px;
	min-width: 300px;
	max-height: 300px;
	padding: 5px 20px;
	overflow: hidden;
}

#results li {
	font-size: 16px;
	padding: 2px;
}
.pass {
	color: olive;
}
.fail {
	color: brown;
	text-decoration: line-through; 
}
